* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-black: hsl(240, 6%, 13%);
  --color-base-blue: hsl(195, 91%, 25%);
  --color-base-light-blue: hsl(195, 46%, 40%);
  --color-base-gray: hsla(0, 0%, 100%, 0.2);
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-black);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 1.6rem 2.8rem;
  display: flex;
  align-items: center;
  gap: 2.6rem;
  font-weight: 600;
  background: var(--color-base-blue);
  width: 100%;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.4rem;

  background-color: var(--color-base-gray);
  color: var(--color-base-white);
  border: 0;
  border-radius: 0.4rem;

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

main {
  overflow-y: scroll;
  background-color: var(--color-base-white);
}

main .imagem1 {
  width: 100%;
  max-height: 403px;

  aspect-ratio: 10/5;
  object-fit: cover;

  margin-bottom: 3.2rem;
}

.img {
  width: min(200rem, 100%);
}

.content {
  width: min(200rem, 100%);
}

section {
  padding: 0 2.2rem;
}

.content h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

.div {
  margin: 1rem auto 3.1rem;
}

.action {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
}

.action img {
  padding: 1rem;
  background-color: var(--color-base-blue);
  border-radius: 999px;
  object-fit: cover;
}

.content p {
  color: var(--color-base-black);
  line-height: 160%;
}

.content1 {
  padding: 0 2.2rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.content1 h2 {
  margin-top: 3.4rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 16rem;
  height: 10rem;
}

.details {
  padding: 1rem;
  background-color: var(--color-base-white);
}

.details h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

footer {
  margin-top: auto;
  background: var(--color-base-light-blue);
}

footer p {
  text-align: center;
  padding: 2.6rem 1.6rem;
  font-weight: 600;
}

@media (min-width: 1000px) {
  main .container {
    display: flex;
    margin-top: 4.4rem;
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .action {
    margin-top: 0;
  }

  .content {
    padding: 0 0 3.9rem 2rem;
  }

  .content1 {
    gap: 1rem;
  }

  .content1 h2 {
    margin-top: 0;
  }
}

.item1 {
  --delay: 0.4s;
  animation: appear 0.4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}
